*{
margin:0px;
padding:0px;
text-decoration:none;
list-style:none;
box-sizing:border-box;
}
html{
scroll-behavior:smooth;
}
body{
background-repeat:inherit;
background-size: cover;
color:white;
font-family:ISOCP;
font-size:25px;
}
header{
position: sticky;
top:0;
width:100%;
height:80px;
background:black;
color:white;
justify-content:space-between;
display:flex;
align-items:center;
padding:0 100px;
}
.logo{
font-size:28px;
}
.navbar ul{
display:flex;
}
.navbar ul li  a{
display:block;
padding:10px 20px;
font-size:18px;
color:white;
}
.hamburger{
display:none;
}
button{
border:1px;
background-color:transparent;
cursor:pointer;
padding:10px 20px;
color:white;
}
section{
padding:30px;
}
img{
border-radius:10px;
}
.text h2{
font-size:25px;
}
.text a{
color:white;
font-size:14px;
padding:10px 10px;
}
.text .small{
font-size:12px;
}
@media (max-width:1320px){
header{
padding:0 50px;
}
}
@media (max-width:1100px){
header{
padding:0 30px;
}
}
@media (max-width:767px){
body{
font-size:1rem;
}
img{
width:100%;
height:auto;
}
.hamburger{
display:block;
cursor:pointer;
}
.hamburger .line{
width:30px;
height:3px;
margin:6px 0px;
background:white;
}
.navbar {
    position: absolute;
    z-index: 100;
    height: 0;
    overflow: hidden; /* Add this to hide the content when navbar is closed */
    top: 80px;
    background: black;
    left: 0;
    width: 100vw;
    right: 0;
    transition: height 0.3s ease; /* Adjusted transition */
}

.navbar ul {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 80px auto 0px auto;
    opacity: 0;
    transition: opacity 0.3s ease; /* Add transition for opacity */
}

.navbar ul li a {
    margin-bottom: 12px;
    color: white; /* Ensure links are visible */
    text-decoration: none;
}

.navbar.active {
    height: 450px;
}

.navbar.active ul {
    opacity: 1; /* Make links visible when navbar is active */
}
}
