html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background:url("space.png");
  background-repeat:norepeat;
  background-size:cover;
  color: white;
  font-family: ISOCP, Arial, sans-serif;
  font-size: 30px;
}

h1, p {
  font-family: Arial;
}

nav {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: transparent;
  box-shadow: 5px 5px 5px 5px(0,0,0,0.1);
  backdrop-filter: blur(10px);
}

@font-face {
  font-family: "ISOCP";
  src: url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.eot");
  src: url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/cac2e3a86ed8f05a97a43aaf458b3d04.svg#ISOCP") format("svg");
}
h1 {
  font-weight: bold;
}

a, button {
  border: 0;
  text-decoration:none;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

a:hover, button:hover {
  color: skyblue;
}

img {
  border-radius: 10px;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 12px;
  }

  a {
    font-size: 10px;
  }

  nav {
    padding: 10px;
    background-color: transparent;
    color: white;
  }

  img {
    width: 100%;
  }
}
